version: '3.3'

services:
  web:
    image: google_news
    build: .
    command: gunicorn GNewsAPI.wsgi:application --bind 0.0.0.0:8000
    container_name: gnews
    restart: always
    volumes:
      - .:/code
      - static_volume:/code/static/
    ports:
      - "8000:8000"
    expose:
      - "8000"
    env_file:
      - ./.env.dev

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - nginx:/var/log/nginx
      - static_volume:/code/static/
    depends_on:
      - web

  redis:
    image: redis:latest
    container_name: redis_gnews
    ports:
      - '6379:6379'
    volumes:
      - .:/redis_data

volumes:
  web:
  redis:
  nginx:
  static_volume:
