asgiref==3.5.2
astroid==2.12.10
asttokens==2.0.8
async-timeout==4.0.2
autopep8==1.7.0
backcall==0.2.0
certifi==2022.9.14
charset-normalizer==2.1.1
colorama==0.4.5
debugpy==1.6.3
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.5.1
Django==4.1.1
django-redis==5.2.0
djangorestframework==3.13.1
entrypoints==0.4
executing==1.0.0
idna==3.4
ipykernel==6.15.3
ipython==8.5.0
isort==5.10.1
jedi==0.18.1
lazy-object-proxy==1.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
nest-asyncio==1.5.5
packaging==21.3
parso==0.8.3
pickleshare==0.7.5
platformdirs==2.5.2
prompt-toolkit==3.0.31
psutil==5.9.2
pure-eval==0.2.2
pycodestyle==2.9.1
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
pywin32==304
pyzmq==24.0.0
redis==4.3.4
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
stack-data==0.5.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
tornado==6.2
traitlets==5.4.0
typing-extensions==4.3.0
tzdata==2022.2
urllib3==1.26.12
wcwidth==0.2.5
wrapt==1.14.1